## The map() Function in Python
The map() function applies a given function to all items in an input list (or any other iterable) and returns a map object (an iterator). This is particularly useful for transforming data in a list comprehensively.

In [1]:
def square(x):
    return x*x

square(10)

100

In [5]:
number = [1,2,3,4,5,6,7,8,9,10]

squares = list(map(square,number))
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
#Lambda with map Function
numbers = [1,2,3,4,5,6,7,8,9,10]
cubes = list(map(lambda x:x*x*x,numbers))
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [10]:
### Map multiple iterables

numbers1=[1,2,3]
numbers2=[4,5,6]

added_numbers=list(map(lambda x,y:x+y,numbers1,numbers2))
print(added_numbers)

[5, 7, 9]

In [11]:
## map() to convert a list of strings to integers
# Use map to convert strings to integers
str_numbers = ['1', '2', '3', '4', '5']
int_numbers = list(map(int, str_numbers))

print(int_numbers)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [12]:
words=['apple','banana','cherry']
upper_word=list(map(str.upper,words))
print(upper_word)

['APPLE', 'BANANA', 'CHERRY']

In [13]:
def get_name(person):
    return person['name']

people=[
    {'name':'Krish','age':32},
    {'name':'Jack','age':33}
]
list(map(get_name,people))

['Krish', 'Jack']