# Variables

Variables are fundamental programmming elements used to store data can be referenced manipulated in a program .

Section overview:

1. Introductio to Variables

2. Declaring and Assigning Variables

3. Naming Convensions

4. Understanding variable types

5. Type Checking and Conversion

6. Dynamic Tying

In [1]:
a=100

In [3]:
#Declaring and Assiging Variables

age =32
height = 6.1
name="anirudh"
Is_student = True
Count = 10.5

print("Age :",age)
print("Height:",height)
print("Name:",name)
print("If student:",Is_student)
print("Total:",Count)

Age : 32
Height: 6.1
Name: anirudh
If student: True
Total: 10.5

In [5]:
#Naming Convension
#Valid naming Convension
age =32
height = 6.1
name="anirudh"
Is_student = True
Count = 10.5

#Invalid Naming Convension
#@age =32
#h-eight = 6.1
#3name="anirudh"
#Is-student = True
#5Count = 10.5

In [6]:
#Variable and Types
age =32
height = 6.1
name="anirudh"
Is_student = True
Count = 10.5

print(type(age))
print(type(height))
print(type(name))
print(type(Is_student))
print(type(Count))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'float'>

In [7]:
#Type Conversion
age='25'
b=int(age)
print(type(b))

<class 'int'>

In [8]:
name="Anirudh"
nae = int(name)
print(type(nae))

ValueError: invalid literal for int() with base 10: 'Anirudh'

In [9]:
flota = 3.2
it = int(flota)
print(type(it))

<class 'int'>

In [10]:
flota = 40
it = float(flota)
print(type(it))

<class 'float'>

In [11]:
flota = '40'
it = float(flota)
print(type(it))

<class 'float'>

In [13]:
#Simple Project

num1 = float(input("Enter first number"))
num2 = float(input("Enter Second number"))


Sum = num1 + num2
Sub = num1 - num2
Mul = num1*num2
div = num1/num2

print("Sum = ",Sum)
print("Sub = ",Sub)
print("Mul = ",Mul)
print("Div = ",div)

Sum =  25.0
Sub =  -1.0
Mul =  156.0
Div =  0.9230769230769231