# Tuple

1. Introduction to Tuple
2. Creating Tuples
3. Accessing Tuple Elements
4. Tuple Operations
5. Immutable Nature of Tuples
6. Tuple Methods
7. Packing and Unpacking Tuples
8. Nestes Tuples

## Introduction to Tuple

Tuples are ordered collection of items that are immutable .They are similar to lists, but their immutability makes them different.

In [1]:
# Creating a Tuple
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst = list()
print(type(lst))
tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [3]:
numbers = tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [4]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [5]:
mixed_tuple =(1,"Hello World",3.14, True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [6]:
## Accessing Tuple Elements

numbers

(1, 2, 3, 4, 5, 6)

In [7]:
print(numbers[2])
print(numbers[-1])

3
6

In [8]:
numbers[0:4]

(1, 2, 3, 4)

In [9]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [10]:
# Tuple Operations
concatenation_tuple = numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [11]:
mixed_tuple * 3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [12]:
numbers * 3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [13]:
## Immutable Nature Of Tuples
## Tuples are immutable, meaning their elements cannot be changed once assigned.

lst =[1,2,3,4,5]
print(lst)

lst[1] = "Krish"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Krish', 3, 4, 5]

In [14]:
numbers[1] ="krish"

TypeError: 'tuple' object does not support item assignment

In [15]:
# Tuple Methods
print(numbers.count(1))
print(numbers.index(3))

1
2

In [16]:
## Packing and Unpacking tuple
## packing
packed_tuple=1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [17]:
#Unpacking a tuple
a,b,c = packed_tuple

print(a)
print(b)
print(c)

1
Hello
3.14

In [18]:
# Unpacking with *
numbers = (1,2,3,4,5,6,7,8,9,10)
first, *middle, last = numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5, 6, 7, 8, 9]
10

In [19]:
# Nestes Tuple
lst =[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
lst[0][0:3]

[1, 2, 3]

In [20]:
lst=[[1,2,3,4],[6,7,8,9],(1,"Hello",3.14,"c")]
lst[2][0:3]

(1, 'Hello', 3.14)

In [21]:
nested_tuple = ((1,2,3),("a","b","c"),(True, False))

#Access the Elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [23]:
#iteraing over nested tuple
for i in nested_tuple:
    for item in i:
        print(item, end=" ")
    print()

1 2 3
a b c
True False