In [1]:
my_list = [10,20,30,40,50]
print(my_list)

[10, 20, 30, 40, 50]

*Section 1:* Perform following operations on given list

1. Access Elements: Print the third element.
2. List Length: Print the number of elements in the list
3. Check if Empty: Write a code to check is list empty.

In [3]:
print("The third Item: ",my_list[2])
print("The Length of the Item:",len(my_list))
if len(my_list) == 0:
    print("The list is empty")
else:
    print("The list is not empty")

The third Item:  30
The Length of the Item: 5
The list is not empty

*Section 2:*

1. Change Element: Change the second element of a list to 200 and print the updated list.
2. Append Element: Add 600 o the end of a list and print the new list.
3. Insert Element: Insert 300 at the third position (index 2) of a list and print the result.
4. Remove Element (by value): Remove 600 from the list and print the list.
5. Remove Element (by index): Remove the element at index 0 from the list print the list.

In [4]:
my_list[1] = 200
print(my_list)

my_list.append(600)
print(my_list)

my_list.insert(2,300)
print(my_list)

my_list.remove(600)
print(my_list)


del my_list[0]
print(my_list)

[10, 200, 30, 40, 50]
[10, 200, 30, 40, 50, 600]
[10, 200, 300, 30, 40, 50, 600]
[10, 200, 300, 30, 40, 50]
[200, 300, 30, 40, 50]

*Section 3:* Calculate and print the sum and average of all numbers in list

In [6]:
my_list = [10, 20, 30, 40, 50]

sum = 0
for i in my_list:
    sum += i

avg = sum / len(my_list)

print("Sum :", sum)
print("Average:", avg)

Sum : 150
Average: 30.0

*Section 4:* Reverse a Given list

In [ ]:
# Method 1
list1 = [100, 200, 300, 400, 500]

list1.reverse()
print(list1)

[500, 400, 300, 200, 100]

In [10]:
# Method 2
list1 = [100, 200, 300, 400, 500]
reverse_lst = list1[::-1]
print(reverse_lst)

[500, 400, 300, 200, 100]

In [11]:
# Method 3
list1 = [100, 200, 300, 400, 500]
reverse_lst = list(reversed(list1))
print(reverse_lst)

[500, 400, 300, 200, 100]

In [12]:
# Method 4
a = [100, 200, 300, 400, 500]

i,j = 0, len(a) -1

while i < j:
    a[i],a[j] = a[j], a[i]
    i += 1
    j -= 1
print(a)

[500, 400, 300, 200, 100]

*Section 5:* Given a list of numbers , give the squares of every element in list.

In [ ]:
#Method 1
numbers = [1, 2, 3, 4, 5, 6, 7]
lst2 = list()

for i in numbers:
    lst2.append(i*i)

print(lst2)

[1, 4, 9, 16, 25, 36, 49]

In [15]:
#Method 2
numbers = [1, 2, 3, 4, 5, 6, 7]
res = [x*x for x in numbers]
print(res)

[1, 4, 9, 16, 25, 36, 49]

*Section 6:* Find and print the largest and smallest number in a list.

In [ ]:
# Method 1
data = [8, 2, 15, 1, 9]

maxList = max(data)
minList = min(data)
print(f"Max value in {data}:",maxList)
print(f"Min value in {data}:",minList)

Max value in [8, 2, 15, 1, 9]: 15
Min value in [8, 2, 15, 1, 9]: 1

In [19]:
#Method 2
data = [8, 2, 15, 1, 9]

data.sort()
min_num = data[0]
max_num = data[-1]

print(f"Max value in {data}:",min_num)
print(f"Min value in {data}:",max_num)

Max value in [1, 2, 8, 9, 15]: 1
Min value in [1, 2, 8, 9, 15]: 15

In [20]:
# Method 3
data = [8, 2, 15, 1, 9]

min_num = data[0]
max_num = data[0]

for num in data[1:]:
    if num < min_num:
        min_num = num
    if num > max_num:
        max_num = num
print(f"Max value in {data}:",min_num)
print(f"Min value in {data}:",max_num)

Max value in [8, 2, 15, 1, 9]: 1
Min value in [8, 2, 15, 1, 9]: 15

*Section 7:* Count and print how many times 'Football' appears in list.

In [ ]:
#Method 1
sports = ['Cricket', 'Football', 'Hockey', 'Football', 'Tennis']


# Count occurrences of 'Football'
football_count = sports.count('Football')
print("Count:", football_count)

Count: 2

In [24]:
#Method 2
from collections import Counter
sports = ['Cricket', 'Football', 'Hockey', 'Football', 'Tennis']


# Create a Counter object from the list
counts = Counter(sports)

print(counts)
# Output: Counter({'c': 3, 'b': 2, 'a': 1, 'd': 1})

# Access the count of a specific item
print(f"The item 'c' appears {counts['c']} times.")

Counter({'Football': 2, 'Cricket': 1, 'Hockey': 1, 'Tennis': 1})
The item 'c' appears 0 times.

*Section 8:* Sort a given list of numbers in ascending order and print it.

In [29]:
numbers = [5, 2, 8, 1, 9]
print("Original list:", numbers)

# Method 1: Using the sort() method (sorts in-place)
numbers.sort()
print("Sorted list (in-place using .sort()):", numbers)

# Resetting for demonstration of sorted()
numbers = [5, 2, 8, 1, 9]
print("\nOriginal list for sorted() demonstration:", numbers)

# Method 2: Using the sorted() function (returns a new sorted list)
sorted_numbers = sorted(numbers)
print("New sorted list (using sorted()):", sorted_numbers)
print("Original list after sorted() (unchanged):", numbers)

Original list: [5, 2, 8, 1, 9]
Sorted list (in-place using .sort()): [1, 2, 5, 8, 9]

Original list for sorted() demonstration: [5, 2, 8, 1, 9]
New sorted list (using sorted()): [1, 2, 5, 8, 9]
Original list after sorted() (unchanged): [5, 2, 8, 1, 9]

*Section 9:* Create a copy of a list *[10, 20, 30]* and modify the copy. Print both the original and the copied list to demonstrate they are independent.

In [31]:
original_list = [10, 20, 30]
print("Original list initially:", original_list)


copied_list = original_list[:]
copied_list.append(40)
copied_list[0] = 100

print("Original list after modifying copy:", original_list)
print("Copied list after modification:", copied_list)

# Demonstration using list() constructor
another_copy = list(original_list)
another_copy.append(50)
print("\nOriginal list after another_copy modification:", original_list)
print("Another copied list:", another_copy)

# Demonstration using .copy() method (Python 3+)
third_copy = original_list.copy()
third_copy[0] = 999
print("\nOriginal list after third_copy modification:", original_list)
print("Third copied list:", third_copy)

Original list initially: [10, 20, 30]
Original list after modifying copy: [10, 20, 30]
Copied list after modification: [100, 20, 30, 40]

Original list after another_copy modification: [10, 20, 30]
Another copied list: [10, 20, 30, 50]

Original list after third_copy modification: [10, 20, 30]
Third copied list: [999, 20, 30]

*Section 10*: Combine given lists into a single list and print it

In [34]:
list_a = [1, 2]
list_b = [3, 4]
list_c = list()

combined_list_plus = list_a + list_b
print("Combined list (using + operator):", combined_list_plus)

temp_list = [1, 2]
temp_list.extend(list_b)
print("Combined list (using .extend() on temp_list):", temp_list)

combined_list_unpacking = [*list_a, *list_b]
print("Combined list (using unpacking *):", combined_list_unpacking)

Combined list (using + operator): [1, 2, 3, 4]
Combined list (using .extend() on temp_list): [1, 2, 3, 4]
Combined list (using unpacking *): [1, 2, 3, 4]

*Section 11:* Remove empty strings from the list of strings

In [35]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

res = list(filter(None, list1))
print(res)

['Mike', 'Emma', 'Kelly', 'Brad']

*Section 12:* Remove duplicates from list

In [36]:
list_with_duplicates = [1, 2, 2, 3, 1, 4, 5, 4]

unique_elements_set = set(list_with_duplicates)
unique_list = list(unique_elements_set)
print(f"Original list: {list_with_duplicates}")
print(f"List with unique elements: {unique_list}")

Original list: [1, 2, 2, 3, 1, 4, 5, 4]
List with unique elements: [1, 2, 3, 4, 5]

*Section 13:* Remove all occurenace of specific item from a list

In [37]:
list1 = [5, 20, 15, 20, 25, 50, 20]

def remove_value(sample_list, val):
    return [i for i in sample_list if i != val]
res = remove_value(list1, 20)
print(res)

[5, 15, 25, 50]

*Section 14:* List comprehension for Numbers

In [39]:
my_list = [1, 2, 3, 'Jessa', 4, 5, 'Kelly', 'Jhon', 6]
res = list()

for i in my_list:
    if type(i) == int:
        res.append(i)

print(res)

numbers_only_list = [item for item in my_list if isinstance(item, (int, float))]
print(f"List containing only numbers: {numbers_only_list}")

[1, 2, 3, 4, 5, 6]
List containing only numbers: [1, 2, 3, 4, 5, 6]

*Section 15*: Access Nested List:

In [40]:
nested_list = [[10, 20, 30], [44, 55, 66], [77, 87, 99]]
print(f"Nested list: {nested_list}")

# To access 55:
# 1. The list [44, 55, 66] is at index 1 of the main nested_list.
# 2. Within [44, 55, 66], the element 55 is at index 1.
element_55 = nested_list[1][1]

print(f"The element '55' is: {element_55}")

Nested list: [[10, 20, 30], [44, 55, 66], [77, 87, 99]]
The element '55' is: 55

*Section 16 :* Flattten Nested List

In [42]:
list_of_lists = [[1, 2], [3, 4], [5, 6, 7]]


def flatten_list(nested_list):
 
  flattened = []
  for sublist in nested_list:
    for item in sublist:
      flattened.append(item)
  return flattened

def flatten_list_comprehension(nested_list):
  return [item for sublist in nested_list for item in sublist]


# Test cases
list_of_lists = [[1, 2], [3, 4], [5, 6, 7]]
print(f"Original nested list: {list_of_lists}")

flattened_result = flatten_list(list_of_lists)
print(f"Flattened list (using loops): {flattened_result}")

flattened_result_comp = flatten_list_comprehension(list_of_lists)
print(f"Flattened list (using list comprehension): {flattened_result_comp}")

Original nested list: [[1, 2], [3, 4], [5, 6, 7]]
Flattened list (using loops): [1, 2, 3, 4, 5, 6, 7]
Flattened list (using list comprehension): [1, 2, 3, 4, 5, 6, 7]

*Section 17:* Concatenate two lists index-wise

In [44]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
list3 = [i +j for i,j in zip(list1, list2)]
print(list3)

['My', 'name', 'is', 'Kelly']

*Section 18:*  Concatenate two lists in the following order

Input:

list1 = ["Hello ", "take "]

list2 = ["Dear", "Sir"]

output

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [45]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

res = [x + y for x in list1 for y in list2]
print(res)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

*Section 19:* Iterate both lists simultaneously

In [46]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

for x,y in zip(list1, list2[::-1]):
    print(x,y)

10 400
20 300
30 200
40 100

*Section 21:* Add new item to list after a specified item

In [47]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

*Section 22:* Extend nested list by adding the sublist

In [1]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]

# understand indexing
# list1[2] = ['c', ['d', 'e', ['f', 'g'], 'k'], 'l']
# list1[2][1] = ['d', 'e', ['f', 'g'], 'k']
# list1[2][1][2] = ['f', 'g']

# solution
list1[2][1][2].extend(sub_list)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

*Section 23:* Replace listâ€™s item with new value if found

In [2]:
list1 = [5, 10, 15, 20, 25, 50, 20]

# get the first occurrence index
index = list1.index(20)

# update item present at location
list1[index] = 200
print(list1)

[5, 10, 15, 200, 25, 50, 20]