*Excercise 1:* Perform Basic Tuple Operations

1. Create a Tuple: Create a tuple named my_tuple containing the numbers 1, 2, 3, 4, and 5.
2. Access Elements: Access and print the third element of my_tuple.
3. Tuple Length: Find and print the length of my_tuple.

In [2]:
My_tuple = tuple([1,2,3,4,5])
print(f"My tuple: {My_tuple}")

third_element = My_tuple[2]
print(f"The third element of my_tuple:{third_element}")

tuple_length = len(My_tuple)
print(f"The length of my_tuple: {tuple_length}")

My tuple: (1, 2, 3, 4, 5)
The third element of my_tuple:3
The length of my_tuple: 5

*Excercise 2:* Tuple repetition

In [3]:
original_tuple = ('a','b')
repeated_tuple = original_tuple * 3
print(f"Repeated tuple: {repeated_tuple}")

Repeated tuple: ('a', 'b', 'a', 'b', 'a', 'b')

*Excercise 3:* Slicing Tuples

In [5]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print("Sliced Tuple", numbers[3:7])

Sliced Tuple (4, 5, 6, 7)

*Excercise 4:* Reverse the Tuple

In [7]:
tuple1 = (10, 20, 30, 40, 50)
tuple = tuple1[::-1]
print(tuple)

(50, 40, 30, 20, 10)

*Exercise 5:* Access Nested Tuples

In [9]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
print(tuple1[1][1])

20

*Exercise 6:* Create a tuple with single item 50

In [11]:
tuple = (50,)
print(tuple)

(50,)

*Exercise 7:* Unpack the tuple into 4 variables

In [14]:
tuple1 = (10, 20, 30, 40)
for i in tuple1:
    print(i)

10
20
30
40

In [15]:
a, b, c, d = tuple1
print(a)
print(b)
print(c)
print(d)

10
20
30
40

*Exercise 8:* Swap two tuples in Python

In [16]:
tuple1 = (11, 22)
tuple2 = (99, 88)


tuple1, tuple2 = tuple2, tuple1
print(tuple1)
print(tuple2)

(99, 88)
(11, 22)

*Exercise 9:* Copy Specific Elements From Tuple

In [17]:
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2 = tuple1[3:-1]
print(tuple2)

(44, 55)

*Exercise 10:* List to Tuple

In [ ]:
my_list = [10, 20, 30]

# Use the tuple() constructor to convert the list
converted_tuple = tuple(my_list)
print(f"Converted list to tuple: {converted_tuple}")

*Exercise 11:* Function Returning Tuple

In [21]:
def get_min_max(numbers):
    if not numbers:
        return (None, None) # Handle empty list case
    
    min_val = min(numbers)
    max_val = max(numbers)
    return (min_val, max_val)

# Test the function
my_numbers = [10, 5, 20, 2, 15]
min_max_values = get_min_max(my_numbers)
print(f"Original numbers: {my_numbers}")
print(f"Minimum and maximum values: {min_max_values}")

Original numbers: [10, 5, 20, 2, 15]
Minimum and maximum values: (2, 20)

*Exercise 12:* Comparing Tuples

In [22]:
t1 = (1, 2, 3)
t2 = (1, 2, 4)

print(f"Tuple 1: {t1}")
print(f"Tuple 2: {t2}")

if t1 > t2:
    print(f"{t1} is greater than {t2}")
elif t1 < t2:
    print(f"{t1} is less than {t2}")
else:
    print(f"{t1} is equal to {t2}")

Tuple 1: (1, 2, 3)
Tuple 2: (1, 2, 4)
(1, 2, 3) is less than (1, 2, 4)

*Exercise 13:* Removing Duplicates from Tuple

In [ ]:
my_tuple = (1, 2, 2, 3, 4, 4, 5)
print(f"Original tuple with duplicates: {my_tuple}")

# Convert to a set to remove duplicates (order is not preserved)
unique_elements_set = set(my_tuple)

# Convert back to a tuple
unique_tuple = tuple(unique_elements_set)
print(f"Tuple with unique elements: {unique_tuple}")

In [ ]:
from collections import OrderedDict
my_tuple = (1, 2, 2, 3, 4, 4, 5)
print(f"Original tuple with duplicates: {my_tuple}")

unique_ordered_tuple = tuple(OrderedDict.fromkeys(my_tuple))
print(f"Tuple with unique elements (order preserved): {unique_ordered_tuple}")

*Exercise 14:* Filter Tuples

In [28]:
students = [('Alice', 85), ('Bob', 92), ('Charlie', 78), ('David', 95)]
print(f"Original student list: {students}")

high_achiveres_loop = []

for student in students:
    if student[1] >= 90:
        high_achiveres_loop.append(student)
print(f"Students with scores 90 or above (loop method): {high_achiveres_loop}")

Original student list: [('Alice', 85), ('Bob', 92), ('Charlie', 78), ('David', 95)]
Students with scores 90 or above (loop method): [('Bob', 92), ('David', 95)]

In [29]:
students = [('Alice', 85), ('Bob', 92), ('Charlie', 78), ('David', 95)]
print(f"Original student list: {students}")

# Using a list comprehension for filtering
# For each student tuple, check if their score (student[1]) is >= 90
high_achievers = [student for student in students if student[1] >= 90]
print(f"Students with scores 90 or above: {high_achievers}")

Original student list: [('Alice', 85), ('Bob', 92), ('Charlie', 78), ('David', 95)]
Students with scores 90 or above: [('Bob', 92), ('David', 95)]

*Exercise 15:* Map Tuples

In [33]:
t = (1, 2, 3, 4)
print(f"Original tuple: {t}")

squared_list_loop = []
for num in t:
  squared_list_loop.append(num ** 2)
  
print(f"Squared tuple (loop): {squared_list_loop}")

Original tuple: (1, 2, 3, 4)
Squared tuple (loop): [1, 4, 9, 16]

*Exercise 16:* Modify Tuple

In [ ]:
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0] = 222
print(tuple1)

*Exercise 16:* Modify Tuple

In [ ]:
# 1. Sort a tuple by 2nd item
tuple1 = (('a', 23), ('b', 37), ('c', 11), ('d', 29))
print(f"Original tuple: {tuple1}")

# Convert the tuple to a list because tuples are immutable and cannot be sorted in-place
list1 = list(tuple1)

# Sort the list using the 'sorted()' function with a lambda key
# The lambda function `lambda item: item[1]` tells sorted() to use the second element
# (index 1) of each inner tuple for comparison.
sorted_list = sorted(list1, key=lambda item: item[1])

# If you need the result back as a tuple, convert the sorted list back to a tuple
sorted_tuple = tuple(sorted_list)

print(f"Sorted tuple by 2nd item: {sorted_tuple}")

*Exercise 18:* Count Elements

In [34]:
tuple1 = (50, 10, 60, 70, 50)
print(tuple1.count(50))

2

*Exercise 19:* Check if all items in the tuple are the same

In [35]:
def check(t):
    return all(i == t[0] for i in t)

tuple1 = (45, 45, 45, 45)
print(check(tuple1))

True