## Introduction to Looping 

1. For Loop
   1. Iterating over a range
   2. Iterating over a string
2. While Loop
3. Loop Control Statement
    1. Break
    2. Continue
    3. Pass
4. Nested Loops
5.

In [ ]:
#Gives a sequence of numbers from 0 to 5
range(0,5)

range(0, 5)

In [2]:
#For Loop
for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [8]:
#List of all Even numbers from 0 to 100
for i in  range(0,100,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [9]:
#List of all Odd numbers from 0 to 100
for i in  range(0,100,1):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [10]:
#List of all Odd numbers from 50 to 1
for i in  range(50,1,-1):
    print(i)

50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2

In [12]:
#String
import string


Name = (input('Enter your Name'))

for i in (Name):
    print(i)

A
n
i
r
u
d
h

R
a
o

In [14]:
# While Loop
count = 0

while count <= 5:
    print(count)
    count = count+1

0
1
2
3
4
5

In [16]:
count = 0
while count % 2 == 0 and count <= 50:
    print(count)
    count = count+1

0

In [24]:
# Loop Control Statements

#Break

count = 0
while count != 20 :
    print(count)
    count = count+1
    break

0

In [25]:
#Continue

count = 0
while count != 20 :
    print(count)
    count = count+1
    continue

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [27]:
# Pass : Do nothing
for i in range(5):
    if i == 3:
        print(f'number is {i}')
        pass
    print(i)

0
1
2
number is 3
3
4

In [30]:
#Nested Loops
for i in range(5):
    for j in range(5):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:0 and j:2
i:0 and j:3
i:0 and j:4
i:1 and j:0
i:1 and j:1
i:1 and j:2
i:1 and j:3
i:1 and j:4
i:2 and j:0
i:2 and j:1
i:2 and j:2
i:2 and j:3
i:2 and j:4
i:3 and j:0
i:3 and j:1
i:3 and j:2
i:3 and j:3
i:3 and j:4
i:4 and j:0
i:4 and j:1
i:4 and j:2
i:4 and j:3
i:4 and j:4

In [31]:
# Calculate the Sum of first N natural Numbers
N = int(input("Enter the Value of N"))

sum = 0
count = 1
while count <= N:
    sum = sum + count
    count = count +1

print(f'Sum of first {N} Natural Numbers is  {sum}')

Sum of first 10 Natural Numbers is  55

In [32]:
N = int(input("Enter the Value of N"))

sum = 0
count = 1
for i in range(N):
    sum = sum + count
    count = count +1

print(f'Sum of first {N} Natural Numbers is  {sum}')

Sum of first 10 Natural Numbers is  55

In [33]:
# Prime Numbers from 1 to 100
for num in range(1,101):
    if num > 1:
        for i in range(2, num):
            if num % i ==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97